<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="cache-control" content="max-age=0" />
  <meta http-equiv="cache-control" content="no-cache" />
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=1">
  <title>Welcome</title>
</head>

<body style="margin:0;">
  <table width="100%" cellpadding="0" cellspacing="0" style="background:#CCC; line-height: 1.5;">
    <tr>
      <td>
        <p style="margin:0 0 10px"><strong>Hello User,</strong> <br>
          We are grateful to you for being a part of the giveawayhubs Buy family and trusting us. We take that responsibility with great pride and as 
          promised here is the latest coupon update you had subscribed for.</p>
        <p style="text-align: left;"> Thanks, <br><a href="mailto:info@giveawayhubs.com" style="color: #000;">Giveawayhubs.com</a> </p>
      </td>
    </tr>
  </table>
</body>
</html>